@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer﻿
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">@ViewBag.WelcomeMessage</h1>*@
    <h1 class="display-4">@localizer["welcome"]</h1>
</div>