@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>
    @localizer["privacy policy"]
</h1>

<p>@localizer["custome warning1"]</p>
